# 此文件用于docker-compose的环境变量配置

# 数据库配置
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=changeme
MYSQL_USER=changeme
MYSQL_PASSWORD=changeme

# 应用配置
DB_HOST=changeme
DB_PORT=changeme
DB_USER=${MYSQL_USER}
DB_PASSWORD=${MYSQL_PASSWORD}
DB_NAME=${MYSQL_DATABASE}