# port
server.port=8080

# dev
dev_base_url=127.0.0.1
dev_database_password=123456

# prod
prod_base_url=服务器ip
prod_database_password=数据库密码
prod_database_port=数据库端口号

# in use env:env change, the following data should be changed.
in_use_base_url=${prod_base_url}
in_use_database_password=${prod_database_password}
in_use_database_port=${prod_database_port}

# log conf
logging.config=classpath:logback-spring-dev.xml

# MyBatis-Plus
spring.datasource.url=jdbc:mysql://${in_use_base_url}:${prod_database_port}/my-home-server?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
spring.datasource.username=root
spring.datasource.password=${in_use_database_password}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
mybatis-plus.mapper-locations=classpath:mapper/*.xml
mybatis-plus.type-aliases-package=com.jiang.entity

# a map conf
# P.S.do not to add ""
home.weather.key=53d29f89e746948e6e67559c22429e5b

# 指定允许访问的IP地址
cors.allowed-origins=http://x.x.x.x

#ssl
#server.port = 443    #HTTPS协议默认端口号为443，需要使用其他端口时，您可以在此处自定义。
server.ssl.key-store=classpath:xxx.jks
server.ssl.key-store-password=密码
server.ssl.keyStoreType=JKS
