# 生产环境-https
# VITE_IN_USE_BASE_URL=https://www.xxx.top:8443
# VITE_IN_USE_WS_URL=wss://www.xxx.top:8443

# 生产环境-http
# VITE_IN_USE_BASE_URL=http://120.27.159.194:8080
# VITE_IN_USE_WS_URL=ws://120.27.159.194:8080

# 开发环境
# VITE_IN_USE_BASE_URL=http://localhost:8080
# VITE_IN_USE_WS_URL=ws://localhost:8080